body {
    background-color: rgb(255, 244, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo do cabeçalho */
    padding: 30px;
    font-family: sans-serif;
    width: 100%; /* Ajusta a largura do cabeçalho para ocupar toda a largura disponível */
    box-sizing: border-box; /* Inclui o padding na largura total do cabeçalho */
}

h1 {
    color: white;
}

.card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Atualizado para 4 colunas */
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box;
}

.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(55, 85, 110);
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1em;
    color: #666;
}

.card-content .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.card-content .btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.card:hover {
    transform: translateY(-5px);
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.rodape p {
    margin: 0;
}