h2{
    text-align: center;
}

button{
    padding: 5px 20px;
    border-radius: 5px;
}

.Vídeo-com-Iframe{
    display: flex;
    justify-content: center;
}

.Áudio{
    display: flex;
    justify-content: center;
}

.Vídeo{
    display: flex;
    justify-content: center;
    
}