.video-container{
    position: relative;
    width: 640px;
}

video {
    height: auto;
    width: 640px;
}

.controls {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}
button{
    padding: 5px 20px;
    border-radius: 5px;
}
