.video-container{
    position: relative;
    width: 640;
}

.video {
    width: 100%;
    height: auto;
}

.controls {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.controls button {
    margin-right: 10px;
}

video {
    width: 100%;
    height: auto;
}
